@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    display: flex;
    background-image: url("./background.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}